@model VaultSystem.Models.VaultView
<div style="float:left;width:220px;">
    @if (Model.UserRoles.Exists(r => r == "VaultAdmin"))
    {
        <h4>My vaults</h4>
        if (Model.MyVaults != null)
        {
            foreach (var vault in Model.MyVaults)
            {
                @Html.ActionLink(vault.Name, "Index", new { vaultId = vault.Id }, new { @style = vault.Id==Model.VaultId ? "background-color:darkgray;padding:0.6em;display:block;" : "padding:0.6em;display:block;" })
                @*if (vault.Id == Model.VaultId)
                {
                    <div style="background-color:darkgray">
                        <span>@Html.ActionLink(vault.Name, "Index", new { vaultId = vault.Id })</span>
                    </div>
                }
                else
                {
                    <div>
                        <span>@Html.ActionLink(vault.Name, "Index", new { vaultId = vault.Id })</span>
                    </div>
                }*@
            }
        }
        @Html.ActionLink("Create vault", "Create", "Vault")
    }
    @if (Model.OtherVaults != null)
    {
        if (Model.OtherVaults.Any())
        {
            <h4>Other users vaults</h4>
            foreach (var vault in Model.OtherVaults)
            {
                @Html.ActionLink(vault.Name, "Index", new { vaultId = vault.Id }, new { @style = vault.Id == Model.VaultId ? "background-color:darkgray;padding:0.6em;display:block;" : "padding:0.6em;display:block;" })
                @*if (vault.Id == Model.VaultId)
                {
                    <div style="background-color:darkgray">
                        <span>@Html.ActionLink(vault.Name, "Index", new { vaultId = vault.Id })</span>
                    </div>
                }
                else
                {
                    <div>
                        <span>@Html.ActionLink(vault.Name, "Index", new { vaultId = vault.Id })</span>
                    </div>
                }*@

            }
        }
    }
</div>
<div style="margin-left:250px;">
    @if (Model.VaultId > 0)
    {
        @Html.Action("VaultItems", new { vaultId = Model.VaultId })
    }
</div>