@model VaultSystem.Models.EditUserView
@{
    ViewBag.Title = "Edit user";
}
<div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
</div>
<h2>@Model.User.UserName</h2>
@using (Html.BeginForm())
{
    <div style="display:block">
        <span class="">Password:</span>
        @Html.Password("newPassword")
    </div>
    <div style="display:block">
        <span>Confirm password:</span>
        @Html.Password("confirmPassword")
    </div>
    <div style="display:block">
        <span>Users role:</span>
        @Html.ListBox("userRoles", new MultiSelectList(Model.UserRoles))
    </div>
    <div style="display:block">
        <span>Select roles to assign:</span>
        @Html.ListBox("selectRoles", new MultiSelectList(Model.AllRoles))
    </div>
    <div style="display:block">
        <input type="submit" value="сохранить" class="btn-warning" />
        @Html.Hidden("userId", Model.User.Id)
        @Html.ActionLink("Cancel", "Index")
    </div>
}



